@import url(https://fonts.googleapis.com/css?family=Oleo+Script:700);
@import url(https://fonts.googleapis.com/css?family=Passion+One:700);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

html {
  background-image: url("../imagenes/foggy_birds_@2X.png");
}

body{
  width: 80%;
  margin: 0 auto;
  background-color: #455268;
}

h1 {
  text-align: center;
  font-family: sans-serif;
}

h4 {
  text-align: center;
  font-family: sans-serif;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  margin-top: 6px;
}

p {
  font-family: 'Bree Serif', serif;
}

.principal {
  overflow: hidden;
}

.contenido {
  float: right;
  width: 80%;
  background-color: #1C263C;
  color: #B6C0D2;
  padding: 0px;
  margin: auto;
}

#imgedgar {
  width: 300px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenido p {
  text-align: justify;
  color: #FFFFFF;
  margin-left: 20px;
  margin-right: 20px;
}

.contenido h2 {
  margin-left: 20px;
  font-family: sans-serif;
}

.contenido2 {
  float: right;
  width: 80%;
  background-color: #1C263C;
  color: #B6C0D2;
  padding: 0px;
  margin: auto;
}

.contenido2 p {
  text-align: justify;
  color: #FFFFFF;
  margin-left: 20px;
  margin-right: 20px;
}

.contenido2 h2 {
  margin-left: 20px;
  font-family: sans-serif;
}

#disqus_thread {
  float: right;
  width: 78.1%;
  background-color: #1C263C;
  padding: 0px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

em {
  font-weight: bold;
}

.menu {
  float: left;
  width: 20%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.menu h1 {
  color: #9CFF00;
  font-family: 'Oleo Script', cursive;
}

.menu ul {
		margin: 0px;
		padding: 0;
		list-style: none;
    text-align: center;
}

.menu ul li {
		line-height: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border: 2px solid #FFFFFF;
    background-color: #1C263C;
    border-radius: 10px;
}

.menu ul li a {
	text-decoration: none;
  color: #9CFF00;
  font-family: 'Passion One', cursive;
}

.imagen {
    max-height: 150px;
    float: right;
    margin-left: 10px;
}

#imagen1 {
    height: 160px;
    width: 110px;
    float: left;
    margin-right: 10px;
}

#imagen2 {
  height: 220px;
  width: 170px;
  float: left;
  margin-right: 10px;
}

#imagen3 {
  height: 140px;
  width: 190px;
  float: right;
  margin-left: 10px;
}
